<!-- Juanda Gilang Purnomo -->
<div class="container">
    <div class="header text-center bg-primary text-white round mb-3 py-5 mb-4 rounded">
        <h1 class="display-4">Welcome to the Payroll Dashboard</h1>
        <p class="lead">This is a simple payroll management system. <br> <b>Created By Juanda Gilang Purnomo</b> </p>
    </div>
    <div class="row">
        <div class="col-lg mb-5">
            <div class="card text-center bg-primary text-white shadow-sm rounded-lg">
                <div class="card-body">
                    <h3 class="card-title">Total Employees</h3>
                    <p class="card-text display-4">{{employees.length}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg mb-5">
            <div class="card text-center bg-success text-white shadow-sm rounded-lg">
                <div class="card-body">
                    <h2 class="card-title">Total Payrolls</h2>
                    <p class="card-text display-4">{{payrolls.length}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
